# Ollama configuration
OLLAMA_PORT=11436
#OLLAMA_API_BASE=http://localhost:11434

# MCP Server configuration
MCP_SERVER_HOST=localhost
MCP_SERVER_PORT=9001

# Agent configuration
AGENT_PORT=8081
LLM_PROVIDER=ollama_chat
LLM_MODEL=qwen3:14b

# Security configuration
FLAG_FILE_PATH=./flag/flag.txt
